 :root {
      --clr-home: #00ade1;
      --clr-services: #ff6492;
      --clr-product: #ffd91c;
      --clr-contact: #00dcbc;
      --clr-about: #dc00d4;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f9f9f9;
    }

    #main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background:  linear-gradient(90deg, #2a7b9b 0%, #57c785 50%, #eddd53 100%);
    }

    #logo img {
      width: 60px;
    }

#hnav ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    #hnav ul li a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      padding: 10px 15px;
      border-radius: 20px;
      transition: 0.3s;
    }

    #hnav ul li:nth-child(1) a:hover {
      background-color: var(--clr-home);
      color: #000;
    }

    #hnav ul li:nth-child(2) a:hover {
      background-color: var(--clr-services);
      color: #000;
    }

    #hnav ul li:nth-child(3) a:hover {
      background-color: var(--clr-product);
      color: #000;
    }

    #hnav ul li:nth-child(4) a:hover {
      background-color: var(--clr-contact);
      color: #000;
    }

    #hnav ul li:nth-child(5) a:hover {
      background-color: var(--clr-about);
      color: #000;
    }

    #search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    #search-bar input {
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #4f46e5;
      width: 200px;
    }

    #search-bar button {
      padding: 10px 15px;
      background-color: #4f46e5;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    #search-bar button:hover {
      background-color: skyblue;
      color: black;
    }
